/*CSS Login*/

.box-login{
    width: 500px;
    border-color: #14599a;
} 

.card-body-login{
    background-color: #14599a;
}
  
.mb-3{
    text-align: left;
    font-size: medium;
}

.text-wrd{
    font-size: medium;
    
}

.text-link{
    font-size: medium;
    text-decoration: underline;
    color: aliceblue;
}