/**/

.card-body-productForm{
    background-color: #a0a4aa;
    border: solid;
    align-items: center;
    border-left-width: 150px; 
    border-top-width: 10px;
    border-color: #00296b;
}

.box-productForm{
    width: 800px;
    
    border: solid;
    border-color: #c5c9cf;
}