.sidebar{
    width: 14rem;
    height: calc(112vh);
    border-right: 10px solid #fdc500;
    background-color: #1b1942;
    font-size: medium;
}

.side-list{
    list-style: none;
    padding: 1rem 2rem;
}
.side-a{
    margin-bottom: 1rem;
}