/*CSS Login*/

.card-body-login{
    background-color: #00296b;
    border: solid;
    align-items: center; 
    border-left-width: 150px; 
    border-right-width: 150px;
    border-top-width: 50px;
    border-color: #00296b;
}
  
.mb-3{
    text-align: left;
    font-size: medium;
    
}

.text-wrd{
    font-size: medium;
    
}

.text-link{
    font-size: medium;
    text-decoration: underline;
    color: aliceblue;
}