/*CSS Registration*/

.box-registration{
    width: 800px;
    
    border: solid;
    border-color: #00296b;
}
  
.card-body-registration{
    background-color: #00296b;
    border: solid;
    align-items: center;
    border-left-width: 150px; 
    border-top-width: 10px;
    border-color: #00296b;
}
  
.mb-3{
    text-align: left;
    font-size: medium;
}

.col-md-4{
    text-align: left;
    font-size: medium;
}

.col-6{
    text-align: left;
    font-size: medium;
}

