/*CSS Registration*/

.box{
    width: 800px;
    border-color: #14599a;
}
  
.card-body-registration{
    background-color: #14599a;
    border: solid;
    align-items: center;
    border-radius: 1%;
    border-color: #14599a;
}
  
.mb-3{
    text-align: left;
    font-size: medium;
}
