/**/

.card-body-productForm{
    background-color: #00296b;
    border: solid;
    align-items: center;
    border-left-width: 80px; 
    border-right-width: 80px;
    border-top-width: 10px;
    border-color: #00296b;
}

.mb-3{
    text-align: left;
    font-size: medium;
}

.col-6{
    text-align: left;
    font-size: medium;
}
