/*CSS Login*/


.box{
    width: 100px;
    height: 400px;
    margin: 10px;
    border-radius: 2%;
    align-items: center;
    padding: auto;
  }
  
  .card-body{
    background-color: #07325a;
  }
  
  .mb-3{
    text-align: left;
    font-size: medium;
  }

  .text-link{
    font-size: medium;
  }