
/***********************CSS*************************/


/***************CSS PANTALLA DE FONDO***************/
/***************************************************/
.app-header {
    background-color: #393e46;
    align-items: center;
    background-size: cover;
    min-height: 100vh;
}

body {
    background-color: #393e46;
    background-size: cover;
    min-height: 100vh;
}



/************CSS CONTENEDORES PRICIPALES************/
/***************************************************/
.container-sm {
    background-color: #22252a;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: #22252a;
    align-items: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}

.container-fluid {
    color: #0092ca;
}

.row {
    align-items: center;
    align-content: center;
    border-radius: 20px;
}

.col-sm {
	background-color: #22252a;
    align-items: center;
    border: solid;
    border-color: #22252a;
    align-content: center;
    border-radius: 10px;
}

.col-3{
	background-color: #393e46;
	align-items: center;
    border: solid;
    border-color: #393e46;
    align-content: center;
    border-radius: 5px;
}

.tittle {
    text-align: center;
    margin-bottom: 2%;
}

.productDetailText{
    margin-top: 5%;
}

.carousel{
    margin-top: 5%;
}



/********************CSS INICIO*********************/
/***************************************************/

.check-invisible{
    visibility: hidden;
}

.container-home{
	background-color: #393e46;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: #393e46;
    align-items: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
	
}

.card{
	background-color: #22252a;
	margin-top: 1px;
	padding: 5px;
	border: solid;
	border-color: #22252a;
	border-radius: 10px;
}

.card-body{
	background-color: #393e46;
	border: solid;
	border-color: #22252a;
	border-radius: 10px;
	margin-top: 1px;
	padding: 5px;
	color: white;
}

.account-container{
    background-color: #393e46;
	border: solid;
	border-color: #22252a;
    border-radius: 10px;
	padding: 5px;
    height: 60px;
    width: 100%;  
	align-items: center;
	align-content: center;  
}

.count-bar{
    display: flex;
}

.link-perfil{
    color: white;
	font-weight: 500;
	text-decoration: none;
	font-size: larger;
	align-items: center;
	align-content: center; 
}

.icon-perfil{
    font-size: 40px;
	color: #0092ca;
}

.icon-favorite-active{
    font-size: 30px;
    color: #ea2d2d;
    cursor: pointer;
}

.icon-favorite{
    font-size: 30px;
    color: #555050;
    cursor: pointer;
}

.home{
    display: block;
}

.sidebar-products{
    background-color: #22252a;
	text-decoration: none;
	font-size: x-large;
	font-weight: 500;
    width: 300px;
    height: 600px;
    border-radius: 10px;
    border: solid;
	border-color: #22252a;
    align-items: center;
    position: fixed;
}

/*******************LISTA DE DESEOS*****************/
/***************************************************/
.wish{
 display: block;
}

.tittle-wl{
    text-align: center;
    margin-bottom: 1%;
    margin-top: 1%;
    color: white;
}

.col-3{
    align-items: center;
    background-color: #22252a;
    border: solid;
    border: #22252a;
    margin-left: 5%;
}

.col-8{
    align-items: center;  
    height: auto ; 
}

.container-WL{
    background-color: #393e46;
    border-radius: 10px;
    border: solid;
    border-width: 2px;
    border-color: #393e46;
    align-items: center;
    align-content: center;
    color: white;
    margin-top: 1%;
    margin-bottom: 1%;
}


.cardWL{
	background-color: #22252a;
	margin-top: 1px;
	padding: 5px;
	border: solid;
	border-color: #22252a;
	border-radius: 10px;
}

.card-body-wl{
	background-color: #393e46;
	border: solid;
	border-color: #22252a;
	border-radius: 10px;
	margin-top: 1px;
	padding: 5px;
	color: white;
    height: auto;
}

/****************BORDES DE LOS CAMPOS***************/
/***************************************************/
input.invalid {

    border-color: red;
}

textarea.invalid {
    border-color: red;
}

input:invalid {
    border-color: red;
}

select:invalid {
    border-color: red;
}



/***********************NAVBAR**********************/
/***************************************************/
.navbar {
    background-color: #22252a;
    color: white;
}

.navbar-item {
    color: white;
    font-weight: 500;
    font-size: x-large;
    text-decoration: none;
}

.toggler {
    color: white;
    font-weight: 500;
    font-size: large;
    border: solid;
    border-color: white;
    background-color: #22252a;
    border-radius: 5px;
}

.toggler-item {
    font-size: large;
}

.sidebar-item {
    color: white;
    font-weight: 400;
    font-size: large;
    text-decoration: none;
    margin-top: 2%;
    margin-bottom: 2%
    
}



/**********************IMAGENES*********************/
/***************************************************/
.carousel-inner {
    display: flex;
    align-items: center;
    height: 100%;
}

img {
    display: block;
    margin: auto;
    align-items: center;
    max-width: 100%;  
    height: auto;
}

.img-fluid{
    margin-top: 1%;
    margin-bottom: 1%;
    display: block;
    align-items: center;
}

.img-wl{
    height: auto;
    width: 60%;
}
.col-5{
    align-self: center;
}


