/********************CSS****************************/

/*BORDES DE LOS CAMPOS*/
/***************************************************/
input.invalid {
	border-color: red;
}

textarea.invalid {
	border-color: red;
}

input:invalid {
	border-color: red;
}

select:invalid {
	border-color: red;
}

/*CAMPOS*/
/***************************************************/

/*CSS PANTALLA DE FONDO*/
/***************************************************/
.app-header {
	background-color: #393e46;
	align-items: center;
	background-size: cover;
	min-height: 100vh;
}

body {
	background-color: #393e46;
	background-size: cover;
	min-height: 100vh;
}

/*CSS INICIO*/
/***************************************************/

/*CSS CONTENEDORES*/
/***************************************************/
.container-sm {
	background-color: #22252a;
	border-radius: 10px;
	border: solid;
	border-width: 5px;
	border-color: #22252a;
	align-items: center;
	color: white;
    margin-top: 5%;
    margin-bottom: 5%;
}

.container-fluid {
	color: #0092ca;
}

.tittle {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.row {
	align-items: center;
	align-content: center;
	border: solid;
	border-color: #22252a;
}

.col-sm {
	align-items: center;
	border: solid;
	border-color: #22252a;
	align-content: center;
}

h1{
    margin-top: 5%;
}

.productDetailText{
    margin-top: 5%;
}

.carousel{
    margin-top: 5%;
}


/*NAVBAR*/
/***************************************************/
.navbar {
	background-color: #22252a;
	color: #0092ca;
}

.navbar-item {
	color: #0092ca;
	font-weight: 500;
	font-size: x-large;
	text-decoration: none;
}

.toggler {
	color: #0092ca;
	font-weight: 500;
	font-size: large;
	border: solid;
	border-color: #0092ca;
	background-color: #22252a;
	border-radius: 5px;
}

.toggler-item {
	font-size: large;
}

.sidebar-item {
	color: #0092ca;
	font-weight: 400;
	font-size: large;
	text-decoration: none;
}

/*IMAGENES*/
/***************************************************/

.carousel-inner {
	display: flex;
	align-items: center;
	height: 100%;
}

img {
    display: block;
    margin: auto;
    align-items: center;
    max-width: 100%;  
    height: auto;
}

.card-publication{
	width: 70%;
	height: 50%;
	margin-bottom: 2rem;
	margin-top: 2rem;
	position: relative;
	display: flex;
}
.check-invisible{
	visibility: hidden;
}
.account-container{
	background-color: aliceblue;
	border-radius: 3%;
	height: 40px;
	width: 100%;
	
	
}
.count-bar{
	display: flex;

}
.link-perfil{
	color: #0092ca;
}
.icon-perfil{
	font-size: 40px;
}
.icon-favorite-active{
	font-size: 30px;
	color: #ea2d2d;
}
.icon-favorite{
	font-size: 30px;
	color: #555050;
}
.home{
	display: block;
}
.sidebar-products{
	background-color: #656e7b;
	width: 300px;
	height: 500px;
	border-radius: 5%;
	border: solid #22252a;
	align-items: center;
	position: fixed;
}